.contenedor{
    background-color: rgba(60, 133, 106, 0.658);
    height: 50 pixeles;
    margin: 5px;
     display:flex;
    justify-content: center;
}

.centrar-imagen {
    text-align: center;
}
.centrar-texto {
    text-align: center;
}
.contenedor-historia {
    display: flex;
    align-items: center;
    margin-left: 10%;   
}

